html {
    font-size: 125%;
    scroll-behavior: smooth;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
    position: relative;
}

h1 {
    color: $secondary; 
    font-family: $secondaryFont;
    font-weight: 700;
}



h2 {
    margin-top: 0;
    font-family: $secondaryFont;
    font-size: 2rem;
    position: relative;
    color: $secondary; 
}

h3 {
    font-family: $secondaryFont;
    font-weight: normal;
}

p {
    font-family: $primaryFont;
    color: $primary;
}

a {
    font-family: $primaryFont;
}

section {
    padding: 130px 0px 75px 0px;
}
