
@media (max-width: 900px) {

    header {
        .textContainer {
            h1 {
                font-size: 2rem;
            }
        }
    }

    //General Section Styling 
    section {
        h2 {
            text-align: center;
        }
    }

    //Navigation Menu
    .navContainer {
        li {
            a{
                font-size: 0.8rem;
            }
        }
    }

    //About Section
    .aboutFlexContainer {
        flex-direction: column-reverse;
        align-items: center;
        .aboutImgContainer {
            width: 55%; 
            height: 400px; 
        }
        .aboutTextContainer {
            width: 100%;
            margin-top: 30px;
        }
    }

    //Toolkit Section
    .iconContainer {
        .iconItemContainer {
            width: calc((100% / 5) - 20px); 
        }
    }

    //Project Section
    .projectContainer {
        .imgContainer {
            display: none; 
        }
    }
    .projectCard {
        flex-direction: column-reverse;
        align-items: center;
        .projectImg {
            height: 400px;
            border: 3px solid $primary;
            width: 100%;
            margin-top: 30px;
        }
        .projectInfo {
            width: 100%;
        }
    }

    //Contact Section
    .contactContainer {
        flex-direction: column;
        align-items: center;

        .contactInfo {
            width: 100%;
            text-align: center;
            .iconContainer {
                justify-content: center;
                li:nth-child(4) {
                    margin-right: 0; 
                }

            }
        }
        .contactForm {
            width: 100%;
            margin-top: 30px; 
            input {
                width: 100%;
            }
        }
    }
}

@media (max-width: 480px) {
    //Nav Bar
    .navContainer {
        li {
            margin: 10px 15px 0px 15px;
            a {
                font-size: 0.6rem; 
            }
        }
    }    

    //Header 
    header {
        background-position: center;
        background-size: cover;
        .wrapper {
            .textContainer {
                h1 {
                    font-size: 1.2rem; 
                }
                h3 {
                    font-size: 1.2rem; 
                }
            }
            
        }
        .chevronContainer {
            right: 40%; 
        }
    }
    //About Section 
    .aboutFlexContainer {
        .aboutTextContainer {
            margin-left: 0px; 
        }
        .aboutImgContainer {
            display: none; 
        }
    }

    //Toolkit Section
    .iconContainer {
        justify-content: center;
        .iconItemContainer {
            width: calc(33% - 50px);
        }
    }

    //Footer Section
    footer {
        p {
            font-size: 0.8rem
        }
    }
}

@media (max-width: 320px) {
    //Header Section
    header {
        .textContainer {
            h1 {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    
    //Toolkit Section
    .iconContainer {
        .iconItemContainer {
            width: calc(50% - 50px);
        }
    }

    //Project Section 
    .projectCard {
        .projectInfo {
            a {
                width: 50%;
            }
        }
    }
}