
@media (max-width: 900px) {

    header {
        .textContainer {
            h1 {
                font-size: 2rem;
            }
        }
    }

    //General Section Styling 
    section {
        h2 {
            text-align: center;
        }
    }

    //Navigation Menu
    .navContainer {
        li {
            a{
                font-size: 0.8rem;
            }
        }
    }

    //About Section
    .aboutFlexContainer {
        flex-direction: row;
        align-items: center;
        .aboutImgContainer {
            width: 55%; 
            height: 400px; 
        }
        .aboutTextContainer {
            width: 100%;
            margin-top: 30px;
            h2 {
                text-align: left;
            }
        }
    }

    //Toolkit Section
    .iconContainer {
        .iconItemContainer {
            width: calc((100% / 5) - 20px); 
        }
    }

    //Project Section
    .projectCard {
        flex-direction: column;
        align-items: center;
        .projectInfo {
            width: 100%;
        }
        .imgContainer {
            width: 60%; 
            margin-top: 30px; 
        }
    }

    //Contact Section
    .contactContainer {
        flex-direction: column;
        align-items: center;

        .contactInfo {
            width: 100%;
            text-align: center;
            h2 {
                margin-bottom: 0px; 
            }
            .iconContainer {
                justify-content: center;
                li:nth-child(4) {
                    margin-right: 0px; 
                }

            }
        }
        .contactForm {
            width: 100%;
            margin-top: 30px; 
            input {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {

    //General Styling 
    p {
        font-size: 0.8rem; 
    }
    //About Section
    .aboutFlexContainer {
        flex-direction: column;
        align-items: center;
        .aboutImgContainer {
            display: none; 
        }
        .aboutTextContainer {
            width: 100%;
            margin-top: 30px;
            h2 {
                text-align: center;
            }
        }
    }
    //Project Section
    
    .projectCard {
        flex-direction: column;
        .imgContainer {
            width: 60%; 
        }
    }
}

@media (max-width: 500px) {
    .projectCard {
        .projectInfo {
            .skillsAndLinks {
                ul {
                    li {
                        width: 100%; 
                    }
                }
            }
        }
    }
}


@media (max-width: 480px) {
    //Nav Bar
    .navContainer {
        li {
            margin: 10px 15px 0px 15px;
            a {
                font-size: 0.6rem; 
            }
        }
    }    

    //Header 
    header {
        background-position: center;
        background-size: cover;
        .wrapper {
            .textContainer {
                h1 {
                    font-size: 1.2rem; 
                }
                h3 {
                    font-size: 1.2rem; 
                }
            }
            
        }
        .chevronContainer {
            right: 40%; 
        }
    }
    //About Section 
    .aboutFlexContainer {
        .aboutTextContainer {
            margin-left: 0px; 
            font-size: 0.8rem;
        }
        .aboutImgContainer {
            display: none; 
        }
    }

    //Toolkit Section
    .iconContainer {
        justify-content: center;
        margin: 32px 0px; 
        .iconItemContainer {
            width: calc((100% / 3) - 20px);
            .hoverText {
                font-size: 0.8rem; 
            }
        }
    }

    //Connect Section
    .contactContainer {
        .contactInfo {
            font-size: 0.8rem; 
            .iconContainer {
                li {
                    width: calc((100% / 4) - 50px)
                }
                li:nth-child(4) {
                    margin-right: 0px; 
                }
            }
        }
    }

    //Footer Section
    footer {
        p {
            font-size: 0.8rem
        }
    }
}

@media (max-width: 320px) {
    //Header Section
    header {
        .textContainer {
            h1 {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    
    //Project Section 
    .projectCard {
        .projectInfo {
            a {
                width: 50%;
            }
        }
    }
}