.navContainer {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-top: 50px;
    background-color: transparent;
    position: absolute;
    top: 0; 
    width: 100%;
    padding-bottom: 25px; 
    z-index: 30;
    .resume {
        border: 3px solid $tertiary;
        padding: 5px 10px;
        border-radius: 8px;
        animation: 0.4s ease-in;

    }
    .resume:hover,
    .resume:focus {
        background-color: $tertiary;
        color: #fff; 
    }
    
    li {
        list-style: none;
        margin: 10px 25px 0px 25px;
        color: $tertiary;
        position: relative;
        a {
            text-decoration: none;
            color: $tertiary;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-family: $primaryFont;
            position: relative;
            z-index: 30;
        }
        .navItems:hover,
        .navItems:focus {
            opacity: 0.7;
        }
        .navItems:hover::after {
            width: 100%;
        }
    }
}

.mobileNav {
    display: none; 
    color: #fff; 
    font-size: 1.5rem; 
}
.fixedBar {
    position: fixed;
    background-color: $primary;
    animation: header 1s;
    padding-top: 10px; 
}

@keyframes header {
    0% {
        opacity: 0; 
        transform: translateY(-100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
