//About Section

.aboutFlexContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .aboutImgContainer {
        width: 30%;
        img {
            width: 100%;
        } 
    }
    .aboutTextContainer {
        width: calc(70% - 40px);
        margin-left: 40px;
        word-spacing: 2px;
        line-height: 30px; 
    }
}

//Toolkit Section

.toolkit {
    background-color: $senary;
    padding: 25px 0px
}

.iconContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0; 
    margin-bottom: 0;
    .iconItemContainer {
        width: calc((100% / 9) - 20px );
        color: $quinary;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        transition: all .3s ease-in-out;
        i {
            font-size: 3rem;
            color: $tertiary;
            margin-top: 20px;
            animation: 0.3s ease-in
        }
        .hoverText {
            opacity: 0;
            margin-bottom: 0;
            transition: 0.3s ease-in;
            margin-top: 12px; 
        }

        &:hover i {
            transform: scale(1.1);
            color: $tertiary; 
        }
        &:hover .hoverText {
            opacity: 1;
            color: $tertiary
        }
    }
}



.contactContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    .contactInfo {
        display: flex; 
        flex-direction: column;
        .iconContainer {
            display: flex; 
            flex-direction: row;
        }
    }
}


//Project Section
section {
    padding: 90px 0;
        .projects {
            display: flex; 
            flex-direction: column;
            align-items: center;
            width: 100%
        }
        h2 {
            margin-bottom: 30px; 
            font-weight: bold;   
        }
}

.projectCard {
    display: flex; 
    flex-direction: row;
    margin-bottom: 70px;
    max-width: 1200px; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%; 
    .imgContainer {
        width: 40%; 
        img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .salaryBandsImg {
            object-position: left;
        }
    }
    .projectInfo {
        width:60%;
        padding: 30px; 
        h3 {
            font-size: 1.3rem;
            margin: 0 0 10px 0;
            color: $primary;
            cursor: pointer;
            font-weight: bold;
        }
        p {
            font-size: 0.8rem; 
            margin-top: 10px; 
            word-spacing: 2px;
            line-height: 20px; 
        }

        .skillsAndLinks {
            display: flex; 
            ul {
                display: flex; 
                justify-content: flex-start;
                padding-left: 0px; 
                margin: 0;
                width: 100%; 
                flex-wrap: wrap;
                align-items: center;
                li {
                    list-style: none;
                    font-size: 1.3rem; 
                    color: $tertiary; 
                    width: calc((100% / 2) - 20px);
                    display: flex; 
                    align-items: center;
                    i {
                        width: 40px;
                    }
                    p {
                        font-size: 0.8rem;
                        margin-bottom: 10px; 
                    }
                }
            }
            a {
                text-decoration: none;
                margin: 10px 30px 0px 0px;
                color: $tertiary;
                display: inline-block;
                border: 2px solid $tertiary; 
                padding: 8px 15px;
                transition: 0.2s ease-in; 
            }
            a:hover, 
            a:focus {
                color: #fff;
                background-color: $tertiary;
            }
        }
    }
}

.reverseProject {
    display: flex;
    flex-direction: row-reverse;
}

//Contact Section

.contact {
    background-color: $primary;
    margin: 0px;
    padding: 80px 0px;
    position: relative;
    overflow: clip;

}

.contactInfo {
    width: 40%;
    h2 {
        font-family: $secondaryFont;
        color: $secondary;
        font-size: 2rem;
    }
    p {
        color: $quinary;
        word-spacing: 2px;
        line-height: 30px; 
    }
}

.contactForm {
    width: 50%;
    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 8px;
        border: 2px solid $tertiary;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 8px;
        border: 2px solid $tertiary;
        border-radius: 8px;
        resize: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    button {
        border: 3px solid $tertiary;
        border-radius: 8px;
        background-color: transparent;
        color: $tertiary; 
        padding: 8px 20px;
        transition: 0.2s ease-in

    }
    button:hover,
    button:focus {
        background-color: $tertiary;
        color: #fff; 
    }
}

.iconContainer {
    display: flex;
    justify-content: flex-start;
    li {
        list-style: none;
        margin-right: 50px;
        width: calc((100% / 4) - 50px);
        a {
            text-decoration: none;
        }
        i {
            font-size: 2rem;
            color: $tertiary;
            cursor: pointer;
            transition: all .2s ease-in-out; 
        }
        i:hover,
        i:focus {
            transform: scale(1.1); 
        }
    }
}

//Footer Section

footer {
    text-align: center;
    background-color: $primary;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    .wrapper {
        border-top: 1px solid $quinary; 
        opacity: 0.7;
        p{
            padding-top: 25px; 
            margin: 0; 
            color: $quinary; 
            opacity: 0.7;
        }
        a {
            text-decoration: none;
            color: $tertiary;
            opacity: 0.9;
        }
        a:hover,
        a:focus {
            opacity: 0.7;
        }
    }
}