//About Section

#about {
    .wrapper {
        h2::before {
            content: '';
            position: absolute;
            z-index: -10; 
            width: 200px; 
            height: 30px; 
            background-color: $primary;
            top: 30px; 
            left: -10px; 
        }
    }
}

.aboutFlexContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    .aboutTextContainer {
        width: 100%;
        .junoAnchor {
            color: #ea593e;
            text-decoration: none;
        }
        .brockAnchor {
            color: #cc0000;
            text-decoration: none;
        }
    }
    .aboutImgContainer {
        width: 45%; 
        border: 1px solid $primary;
    }
}

//Toolkit Section

.toolkit {
    background-color: $senary;
    padding: 25px 0px
}

.iconContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0; 
    margin-bottom: 0;
    .iconItemContainer {
        width: calc((100% / 9) - 20px );
        color: $quinary;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        transition: all .3s ease-in-out;
        i {
            font-size: 3rem;
            color: $tertiary;
            margin-top: 20px;
            animation: 0.3s ease-in
        }
        .hoverText {
            opacity: 0;
            margin-bottom: 0;
            transition: 0.3s ease-in;
            margin-top: 12px; 
        }

        &:hover i {
            transform: scale(1.1);
            color: $quaternary; 
        }
        &:hover .hoverText {
            opacity: 1;
            color: $quaternary
        }
    }
}



.contactContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    .contactInfo {
        display: flex; 
        flex-direction: column;
        .iconContainer {
            display: flex; 
            flex-direction: row;
        }
    }
}


//Project Section
section {
    padding: 90px 0;
    .projectContainer {
        display: flex; 
        flex-direction: row;
        align-items: center;
        .projects {
            display: flex; 
            flex-direction: column;
            width: 40%
        }
        .imgContainer {
            width: 60%;
            img {
                width: 100%; 
            }
        }
        h2 {
            margin-bottom: 30px;   
        }
        h2::before {
            content: '';
            position: absolute;
            z-index: -10; 
            width: 240px; 
            height: 30px; 
            background-color: $primary;
            top: 30px; 
            left: -10px; 
        }
    }
}

.projectCard {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
    .projectInfo {
        width:100%;
        h3 {
            font-size: 1.7rem;
            margin: 0 0 10px 0;
            color: $secondary;
            cursor: pointer;
        }
        ul {
            display: flex; 
            justify-content: flex-start;
            padding-left: 0; 
            margin: 0;
            li {
                list-style: none;
                margin-right: 20px; 
                font-size: 1.5rem; 
                color: $tertiary; 
                i:hover {
                    color: $quaternary;
                }
            }
        }
        a {
            text-decoration: none;
            margin: 10px 30px 0px 0px;
            border-radius: 8px;
            color: $quinary;
            display: inline-block;
        }
    }
    .projectImg {
        border: 3px solid $primary;
        width: 40%;
    }
}

.reverseProject {
    display: flex;
    flex-direction: row-reverse;
}

//Contact Section

.contact {
    background-color: $primary;
    margin: 0px;
    padding: 80px 0px;
    position: relative;
    overflow: clip;

}

.contactInfo {
    width: 40%;
    h2 {
        font-family: $secondaryFont;
        color: $secondary;
        font-size: 2rem;
    }
    p {
        color: $quinary;
    }
}

.contactForm {
    width: 50%;
    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 8px;
        border: 2px solid $tertiary;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 8px;
        border: 2px solid $tertiary;
        border-radius: 8px;
        resize: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    button {
        border: 3px solid $tertiary;
        border-radius: 8px;
        background-color: transparent;
        color: #fff; 
        padding: 8px 20px;
        transition: 0.2s ease-in
    }
    button:hover {
        background-color: $tertiary;
    }
}

.iconContainer {
    display: flex;
    justify-content: flex-start;
    li {
        list-style: none;
        margin-right: 50px;
        a {
            text-decoration: none;
        }
        i {
            font-size: 2rem;
            color: $tertiary;
            cursor: pointer;
            transition: all .2s ease-in-out; 
        }
        i:hover,
        i:focus {
            transform: scale(1.1); 
            color: $quaternary;
        }
    }
}

//Footer Section

footer {
    text-align: center;
    background-color: $primary;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    .wrapper {
        border-top: 1px solid $quinary; 
        opacity: 0.7;
        p{
            padding-top: 25px; 
            margin: 0; 
            color: $quinary; 
            opacity: 0.7;
        }
        a {
            text-decoration: none;
            color: $tertiary;
            opacity: 0.9;
        }
        a:hover,
        a:focus {
            opacity: 0.7;
        }
    }
}