@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Quicksand:wght@300&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

h1 {
  color: #deb992;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

h2 {
  margin-top: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  position: relative;
  color: #deb992;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #051622;
}

a {
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 130px 0px 75px 0px;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding-top: 50px;
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 25px;
  z-index: 30;
}
.navContainer .resume {
  border: 3px solid #1ba098;
  padding: 5px 10px;
  border-radius: 8px;
  -webkit-animation: 0.4s ease-in;
          animation: 0.4s ease-in;
}
.navContainer .resume:hover,
.navContainer .resume:focus {
  background-color: #1ba098;
  color: #fff;
}
.navContainer li {
  list-style: none;
  margin: 10px 25px 0px 25px;
  color: #1ba098;
  position: relative;
}
.navContainer li a {
  text-decoration: none;
  color: #1ba098;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 30;
}
.navContainer li .navItems:hover,
.navContainer li .navItems:focus {
  opacity: 0.7;
}
.navContainer li .navItems:hover::after {
  width: 100%;
}

.fixedBar {
  position: fixed;
  background-color: #051622;
  -webkit-animation: header 1s;
          animation: header 1s;
  padding-top: 10px;
}

@-webkit-keyframes header {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes header {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
header {
  background-color: #051622;
  position: relative;
}
header .textContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
header .textContainer h3 {
  font-size: 2rem;
  margin-bottom: 0;
  color: #869ba9;
  position: relative;
  z-index: 25;
}
header .textContainer h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  position: relative;
  z-index: 25;
}
header .textContainer p {
  font-size: 1.5rem;
  color: #051622;
  margin-top: 1rem;
}
header .chevronContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  left: 45%;
  color: white;
  text-decoration: none;
  z-index: 25;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  margin: auto;
}
header .chevronContainer:hover, header .chevronContainer:focus {
  opacity: 1;
}
header .chevronContainer .chevron {
  color: white;
  font-size: 1.4rem;
  opacity: 0.5;
}
header .chevronContainer p {
  color: white;
  opacity: 0.5;
  font-size: 0.8rem;
}
header .bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
}

.divider {
  width: 100%;
  border-top: 0.5px solid #deb992;
  position: absolute;
  z-index: 29;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20%;
  -webkit-animation: full-width 2.5s forwards;
          animation: full-width 2.5s forwards;
}

@-webkit-keyframes full-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes full-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutFlexContainer .aboutImgContainer {
  width: 30%;
}
.aboutFlexContainer .aboutImgContainer img {
  width: 100%;
}
.aboutFlexContainer .aboutTextContainer {
  width: calc(70% - 40px);
  margin-left: 40px;
  word-spacing: 2px;
  line-height: 30px;
}

.toolkit {
  background-color: #001f33;
  padding: 25px 0px;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.iconContainer .iconItemContainer {
  width: calc(11.1111111111% - 20px);
  color: #869ba9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.iconContainer .iconItemContainer i {
  font-size: 3rem;
  color: #1ba098;
  margin-top: 20px;
  -webkit-animation: 0.3s ease-in;
          animation: 0.3s ease-in;
}
.iconContainer .iconItemContainer .hoverText {
  opacity: 0;
  margin-bottom: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  margin-top: 12px;
}
.iconContainer .iconItemContainer:hover i {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #1ba098;
}
.iconContainer .iconItemContainer:hover .hoverText {
  opacity: 1;
  color: #1ba098;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactContainer .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactContainer .contactInfo .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section {
  padding: 90px 0;
}
section .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
section h2 {
  margin-bottom: 30px;
  font-weight: bold;
}

.projectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 70px;
  max-width: 1200px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}
.projectCard .imgContainer {
  width: 40%;
}
.projectCard .imgContainer img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projectCard .projectInfo {
  width: 60%;
  padding: 30px;
}
.projectCard .projectInfo h3 {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
  color: #051622;
  cursor: pointer;
  font-weight: bold;
}
.projectCard .projectInfo p {
  font-size: 0.8rem;
  margin-top: 10px;
  word-spacing: 2px;
  line-height: 20px;
}
.projectCard .projectInfo .skillsAndLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projectCard .projectInfo .skillsAndLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0px;
  margin: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectCard .projectInfo .skillsAndLinks ul li {
  list-style: none;
  font-size: 1.3rem;
  color: #1ba098;
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectCard .projectInfo .skillsAndLinks ul li i {
  width: 40px;
}
.projectCard .projectInfo .skillsAndLinks ul li p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.projectCard .projectInfo .skillsAndLinks a {
  text-decoration: none;
  margin: 10px 30px 0px 0px;
  color: #1ba098;
  display: inline-block;
  border: 2px solid #1ba098;
  padding: 8px 15px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.projectCard .projectInfo .skillsAndLinks a:hover,
.projectCard .projectInfo .skillsAndLinks a:focus {
  color: #fff;
  background-color: #1ba098;
}

.reverseProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contact {
  background-color: #051622;
  margin: 0px;
  padding: 80px 0px;
  position: relative;
  overflow: clip;
}

.contactInfo {
  width: 40%;
}
.contactInfo h2 {
  font-family: "Quicksand", sans-serif;
  color: #deb992;
  font-size: 2rem;
}
.contactInfo p {
  color: #869ba9;
  word-spacing: 2px;
  line-height: 30px;
}

.contactForm {
  width: 50%;
}
.contactForm input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 2px solid #1ba098;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contactForm textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 2px solid #1ba098;
  border-radius: 8px;
  resize: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contactForm button {
  border: 3px solid #1ba098;
  border-radius: 8px;
  background-color: transparent;
  color: #1ba098;
  padding: 8px 20px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.contactForm button:hover,
.contactForm button:focus {
  background-color: #1ba098;
  color: #fff;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.iconContainer li {
  list-style: none;
  margin-right: 50px;
  width: calc(25% - 50px);
}
.iconContainer li a {
  text-decoration: none;
}
.iconContainer li i {
  font-size: 2rem;
  color: #1ba098;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.iconContainer li i:hover,
.iconContainer li i:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  text-align: center;
  background-color: #051622;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}
footer .wrapper {
  border-top: 1px solid #869ba9;
  opacity: 0.7;
}
footer .wrapper p {
  padding-top: 25px;
  margin: 0;
  color: #869ba9;
  opacity: 0.7;
}
footer .wrapper a {
  text-decoration: none;
  color: #1ba098;
  opacity: 0.9;
}
footer .wrapper a:hover,
footer .wrapper a:focus {
  opacity: 0.7;
}

@media (max-width: 900px) {
  header .textContainer h1 {
    font-size: 2rem;
  }

  section h2 {
    text-align: center;
  }

  .navContainer li a {
    font-size: 0.8rem;
  }

  .aboutFlexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexContainer .aboutImgContainer {
    width: 55%;
    height: 400px;
  }
  .aboutFlexContainer .aboutTextContainer {
    width: 100%;
    margin-top: 30px;
  }
  .aboutFlexContainer .aboutTextContainer h2 {
    text-align: left;
  }

  .iconContainer .iconItemContainer {
    width: calc(20% - 20px);
  }

  .projectCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectCard .projectInfo {
    width: 100%;
  }
  .projectCard .imgContainer {
    width: 60%;
    margin-top: 30px;
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContainer .contactInfo {
    width: 100%;
    text-align: center;
  }
  .contactContainer .contactInfo h2 {
    margin-bottom: 0px;
  }
  .contactContainer .contactInfo .iconContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactContainer .contactInfo .iconContainer li:nth-child(4) {
    margin-right: 0px;
  }
  .contactContainer .contactForm {
    width: 100%;
    margin-top: 30px;
  }
  .contactContainer .contactForm input {
    width: 100%;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 0.8rem;
  }

  .aboutFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexContainer .aboutImgContainer {
    display: none;
  }
  .aboutFlexContainer .aboutTextContainer {
    width: 100%;
    margin-top: 30px;
  }
  .aboutFlexContainer .aboutTextContainer h2 {
    text-align: center;
  }

  .projectCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectCard .imgContainer {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .projectCard .projectInfo .skillsAndLinks ul li {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .navContainer li {
    margin: 10px 15px 0px 15px;
  }
  .navContainer li a {
    font-size: 0.6rem;
  }

  header {
    background-position: center;
    background-size: cover;
  }
  header .wrapper .textContainer h1 {
    font-size: 1.2rem;
  }
  header .wrapper .textContainer h3 {
    font-size: 1.2rem;
  }
  header .chevronContainer {
    right: 40%;
  }

  .aboutFlexContainer .aboutTextContainer {
    margin-left: 0px;
    font-size: 0.8rem;
  }
  .aboutFlexContainer .aboutImgContainer {
    display: none;
  }

  .iconContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 32px 0px;
  }
  .iconContainer .iconItemContainer {
    width: calc(33.3333333333% - 20px);
  }
  .iconContainer .iconItemContainer .hoverText {
    font-size: 0.8rem;
  }

  .contactContainer .contactInfo {
    font-size: 0.8rem;
  }
  .contactContainer .contactInfo .iconContainer li {
    width: calc(25% - 50px);
  }
  .contactContainer .contactInfo .iconContainer li:nth-child(4) {
    margin-right: 0px;
  }

  footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  header .textContainer h1 {
    font-size: 2rem;
  }
  header .textContainer h3 {
    font-size: 1.5rem;
  }
  header .textContainer p {
    font-size: 1rem;
  }

  .projectCard .projectInfo a {
    width: 50%;
  }
}