@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
  color: #deb992;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
h2 {
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  position: relative;
  color: #deb992;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

p {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 130px 0px 75px 0px;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding-top: 30px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 25px;
  z-index: 30;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.navContainer .resume {
  border: 3px solid #1ba098;
  padding: 5px 10px;
  border-radius: 8px;
  -webkit-animation: 0.4s ease-in;
          animation: 0.4s ease-in;
}
.navContainer .resume:hover,
.navContainer .resume:focus {
  background-color: #1ba098;
  color: #fff;
}
.navContainer li {
  list-style: none;
  margin: 10px 25px 0px 25px;
  color: #1ba098;
  position: relative;
}
.navContainer li a {
  text-decoration: none;
  color: #1ba098;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 30;
}
.navContainer li .navItems:hover,
.navContainer li .navItems:focus {
  opacity: 0.7;
}
.navContainer li .navItems:hover::after {
  width: 100%;
}

header {
  background-color: #051622;
  position: relative;
}
header .textContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .textContainer h3 {
  font-size: 2rem;
  margin-bottom: 0;
  color: #869ba9;
  position: relative;
  z-index: 25;
}
header .textContainer h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  position: relative;
  z-index: 25;
}
header .textContainer p {
  font-size: 1.5rem;
  color: #051622;
  margin-top: 1rem;
}
header .chevronContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  right: 50%;
  color: white;
  text-decoration: none;
}
header .chevronContainer .chevron {
  color: white;
  font-size: 1.4rem;
}
header .bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
}

#about .wrapper h2::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 200px;
  height: 30px;
  background-color: #051622;
  top: 30px;
  left: -10px;
}

.aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutFlexContainer .aboutTextContainer {
  width: 100%;
}
.aboutFlexContainer .aboutTextContainer .junoAnchor {
  color: #ea593e;
  text-decoration: none;
}
.aboutFlexContainer .aboutTextContainer .brockAnchor {
  color: #cc0000;
  text-decoration: none;
}
.aboutFlexContainer .aboutImgContainer {
  width: 45%;
  border: 1px solid #051622;
}

.toolkit {
  background-color: #001f33;
  padding: 25px 0px;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.iconContainer .iconItemContainer {
  width: calc(11.1111111111% - 20px);
  color: #869ba9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.iconContainer .iconItemContainer .iconItemContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.iconContainer .iconItemContainer i {
  font-size: 3rem;
  color: #1ba098;
  margin-top: 20px;
  -webkit-animation: 0.3s ease-in;
          animation: 0.3s ease-in;
}
.iconContainer .iconItemContainer i:hover {
  color: #fe6192;
}
.iconContainer .iconItemContainer p {
  display: none;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactContainer .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactContainer .contactInfo .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section {
  padding: 90px 0;
}
section .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .projectContainer .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}
section .projectContainer .imgContainer {
  width: 60%;
}
section .projectContainer .imgContainer img {
  width: 100%;
}
section .projectContainer h2 {
  margin-bottom: 30px;
}

.projectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.projectCard .projectInfo {
  width: 50%;
}
.projectCard .projectInfo h3 {
  font-size: 2rem;
  margin: 0 0 10px 0;
  color: #deb992;
  cursor: pointer;
}
.projectCard .projectInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0;
  margin: 0;
}
.projectCard .projectInfo ul li {
  list-style: none;
  margin-right: 20px;
  font-size: 1.5rem;
  color: #1ba098;
}
.projectCard .projectInfo ul li i:hover {
  color: #fe6192;
}
.projectCard .projectInfo a {
  text-decoration: none;
  margin: 10px 30px 0px 0px;
  border-radius: 8px;
  color: #869ba9;
  display: inline-block;
}
.projectCard .projectImg {
  border: 3px solid #051622;
  width: 40%;
}

.reverseProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contact {
  background-color: #051622;
  margin: 0px;
  padding: 80px 0px;
  position: relative;
  overflow: clip;
}

.circleGroup {
  position: relative;
}
.circleGroup .circleOne {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #deb992;
  z-index: 2;
}

.contactInfo {
  width: 40%;
}
.contactInfo h2 {
  font-family: "Playfair Display", serif;
  color: #deb992;
  font-size: 2rem;
}
.contactInfo p {
  color: #869ba9;
}

.contactForm {
  width: 50%;
}
.contactForm input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 2px solid #1ba098;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contactForm textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 2px solid #1ba098;
  border-radius: 8px;
  resize: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contactForm button {
  border: 3px solid #1ba098;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.contactForm button:hover {
  background-color: #1ba098;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.iconContainer li {
  list-style: none;
  margin-right: 50px;
}
.iconContainer li a {
  text-decoration: none;
}
.iconContainer li i {
  font-size: 2rem;
  color: #1ba098;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.iconContainer li i:hover,
.iconContainer li i:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fe6192;
}

footer {
  text-align: center;
  background-color: #051622;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}
footer .wrapper {
  border-top: 1px solid #869ba9;
  opacity: 0.7;
}
footer .wrapper p {
  padding-top: 25px;
  margin: 0;
  color: #869ba9;
  opacity: 0.7;
}
footer .wrapper a {
  text-decoration: none;
  color: #1ba098;
  opacity: 0.9;
}
footer .wrapper a:hover,
footer .wrapper a:focus {
  opacity: 0.7;
}

@media (max-width: 900px) {
  header .textContainer h1 {
    font-size: 2rem;
  }

  section h2 {
    text-align: center;
  }

  .navContainer li a {
    font-size: 0.8rem;
  }

  .aboutFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexContainer .aboutImgContainer {
    width: 55%;
    height: 400px;
  }
  .aboutFlexContainer .aboutTextContainer {
    width: 100%;
    margin-top: 30px;
  }

  .iconContainer .iconItemContainer {
    width: calc(20% - 20px);
  }

  .projectCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectCard .projectImg {
    height: 400px;
    border: 3px solid #051622;
    width: 100%;
    margin-top: 30px;
  }
  .projectCard .projectInfo {
    width: 100%;
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContainer .contactInfo {
    width: 100%;
    text-align: center;
  }
  .contactContainer .contactInfo .iconContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactContainer .contactInfo .iconContainer li:nth-child(3) {
    margin-right: 0;
  }
  .contactContainer .contactForm {
    width: 100%;
    margin-top: 30px;
  }
  .contactContainer .contactForm input {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .navContainer li {
    margin: 10px 15px 0px 15px;
  }
  .navContainer li a {
    font-size: 0.6rem;
  }

  header {
    background-position: center;
    background-size: cover;
  }

  .aboutFlexContainer .aboutImgContainer {
    width: 100%;
  }

  .iconContainer .iconItemContainer {
    width: calc(33% - 50px);
  }

  footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  header .textContainer h1 {
    font-size: 2rem;
  }
  header .textContainer h3 {
    font-size: 1.5rem;
  }
  header .textContainer p {
    font-size: 1rem;
  }

  .iconContainer .iconItemContainer {
    width: calc(50% - 50px);
  }

  .projectCard .projectInfo a {
    width: 50%;
  }
}